
    .align-r
    {
        text-align: right;
    }

    .no-line
    {
        text-decoration: none; 
    }

    .margin-t
    {
        margin-top: 1cm;
    }

    .margin-r
    {
        margin-right: 1cm;
    }
